* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    max-width: 1366px;
}

.cabecera {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    margin-left: 1em;
    box-shadow: 0 1px 2px 1px #0000003e;
    width: 98%;
    border-radius: 10px;
    transition: background-color 0.5s ease, border-radius 1.5s ease-in , margin-top 0.5s ease;
}

.cabecera.scrolled {
    border-radius: 10em;
    background-color: rgba(112, 42, 224, 0.527);
    margin-top: 0.5em ;

}

#acciones {
    display: flex;
    align-items: center;
}

#acciones a {
    margin-right: 1em;
}

#empleado {
    display: flex;
    align-items: center; 
}

#empleado a {
    margin-right: 1em;
}


.boton {
    text-decoration: none;
    padding: 0.6em;
    border-radius: 1em;
    font-weight: bolder;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.boton:hover {
    transform: scale(0.95);
}



.blanco {
    background-color: #fff;
    color: black;
}

.escarlata {
    background-color: rgb(243, 54, 101);
    color: rgb(255, 255, 255);
}
.violeta {
    background-color: rgb(112, 42, 224);
    color: #fff;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  color: rgb(39, 202, 39);
  margin-right: 0.5em;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.1em;
  
}

.primer_elemento {
    padding-top: 5em;
    margin: 0 2em 1em 2em;
    background-color: #fffff9;
}


/* Landing */

#landing {
    display: flex;
}
#landing_izquierdo {
    width: 60%;
}
#landing_derecho {
    width: 40%;
    
}

#formulario_landing {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 5em 2em;
    background-color: #b38af9;
    border-radius: 1em;
    box-shadow: -1px 2px 4px 0px #0000003e;
}
#encabezado_login {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}

#contrasena_login, #email_login {
    margin: 0.6em 0;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.3em;
}



#cabecera_landing {
    text-align: center;
    margin: 1em 0 0.5em 0;
}

#contenedor_landing h2{
    text-align: center;
    font-size: 1.2em;
}

#contenedor_landing p{
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
    margin: 0.5em 0;
    color: rgb(93, 191, 191);
}

#contenedor_landing h3 {
    padding: 1em;
    font-size: 1em;
}

#contenedor_landing ul {
    
    padding: 0 3.5em;
    font-size: 0.8em;
}

#contenedor_landing ul li{
    padding: 1em 0;
}


/* Seccion de la lista de empleados */


.titulo_seccion {
    padding: 0.5em 0 0 0.4em;
    margin-bottom: 0.6rem;
}

.tip {
    
    margin: 1em 0.5em;
    background-color: rgb(82, 186, 228);
    color: rgb(5, 56, 104);
    border-radius: 10em;
    padding: 0.7em;
}

.contenedor {
    display: flex;
    justify-content: center;
}



#tabla_empleados #cabecera_empleados th{
    background-color: #f3f3f2bd;
    padding: 1.5em;
    border-radius: 0.5em;
    
}
/* icono  */

/* editar */

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  vertical-align: bottom;
}

/* equis */

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



/* modal registro */
.contenedor_formulario {
    background-color: #00000069;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 4em 0;
    overflow: auto;
}

#modal_registro {
    display: none;
    z-index: -1;
}
#modal_actualizar {
    display: none;
    z-index: -1;
}


.formulario {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 5em 30%;
    padding: 2em;
    border-radius: 0.5em;
    border: 1px solid rgb(112, 42, 224);
}
.formulario header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    
}
.formulario label {
    text-align: center;
    margin: 0.5em 0;
}
.formulario input {
    padding: 1em;
    margin: 1em 5em 1em;
    border-radius: 1em;
    border: 1px solid rgb(112, 42, 224);
}
.formulario hr{
    margin-bottom: 1.5em;
}

.botones_formulario {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
    padding: 0 20%;
}

.boton_interno_formulario {
    padding: 1em 2em;
    border: none;
}
#cerrar {
    cursor: pointer;
}
#cerrar_actualizar {
    cursor: pointer;
}


/* interfaces cambiantes dependiendo del estado de log in*/
#listar_empleados, #online, #username, #log_out, #listado_empleados{
    display: none;
}



/*mensajes de alerta*/

.alerta {
    color: rgb(255, 255, 255);
    font-size: small;
    font-style: italic;
    margin: 1em 0;
    border-bottom: 1px solid red;
    display: none;
}

.cuerpo_tabla_empleados tr td {
    padding: 1em;
    margin: 1em 1em;
}
.cuerpo_tabla_empleados tr td button{
    padding: 1em;
    background-color: rgb(238, 150, 73);
    font-weight: bolder;
    color: white;
    border-radius: 1em;
    border: none;
    cursor: pointer;
}
.cuerpo_tabla_empleados tr td button:hover{
    background-color: rgb(113, 40, 130);
}